{% extends 'blog/base.html' %}

{% block content %}
   <div class="category-list">
  <h3>Browse by Category</h3>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'category-posts' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
</div>

  <div class="post-list">
        {% for post in page_obj %}
      <div class="post-card">
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
        <div class="post-content">
          <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
          <p class="post-date">{{ post.date_posted }}</p>
          <p class="post-preview">{{ post.content|truncatewords:30 }}</p>
        </div>
      </div>
    {% empty %}
      <p>No posts yet.</p>
    {% endfor %}
      
    
  </div>

  <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">← Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next →</a>
  {% endif %}
</div>

{% endblock %}